@import "tailwindcss";

@font-face {
  font-family: "Jersey 25";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/jersey-25-latin-400-normal.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
}
